<div class="home">
    <div class="home-letter">
        <div class="container">
            <div class="home-mid text-light font-italic">
                <h1>Taiga Watanabe</h1>
                <h2>Portfolio</h2>
            </div>        
        </div>
    </div>
    <div class="bg-light">
        <div class="container text-center home-content pt-5 pb-5">          
            <a class="btn">
                <span class="btn__text"><h1>My strong points</h1></span><!-- default letter -->
                <span class="btn__text"><h2>私の強み</h2></span><!-- display letter when we hover -->
            </a>    
            <a class="btn mt-5">
                <span class="btn__text"><h3>Continuity</h3></span>
                <span class="btn__text"><h3>継続力</h3></span>
            </a>  
            <a class="btn mt-3 mb-3">
                <span class="btn__text"><h3>Ability to take action</h3></span>
                <span class="btn__text"><h3>行動力</h3></span>
            </a> 
            <a class="btn">
                <span class="btn__text"><h3>Interested in various things</h3></span>
                <span class="btn__text"><h3>様々な事に興味を持つ</h3></span>
            </a>                         
        </div>
    </div>
</div>
