<footer class="bg-dark">
    <div class="container footer text-center">                 
        <%= link_to image_tag("github-icon.png", class: "rounded-circle images"), "/" %>           
        <%# https://github.com/TaigaWatanabe?tab=repositories %>
        <%= link_to image_tag('twitter-icon.png', class: "rounded-circle images"), "/" %>
        <%# https://twitter.com/taiga_traveler %>
        <%= link_to image_tag('instagram-icon.jpeg', class: "rounded-circle images"), "/" %>  
        <%# https://www.instagram.com/travel_world_2025/?hl=ja %>
        <%= link_to image_tag('facebook-icon.png', class: "rounded-circle images"), "/" %>
        <%# https://www.facebook.com/profile.php?id=100028249238643 %>
    </div>
</footer>