<div class="header-top">
    <div class="pos-f-t">    
        <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark font-weight-bold">
                <div class="container">
                    <h1 class="navbar-brand header-name">TW</h1>        
                <!-- right side select something -->
                    <form class="form-inline my-2 my-lg-0">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active mr-3">
                                <%= link_to root_path, class: "nav-link" do %>            
                                    <p class="select">HOME<br>ホーム</p>                            
                                <% end %>
                            </li>
                            <li class="nav-item active mr-3">
                                <%= link_to profile_path, class: "nav-link" do %>                    
                                    <p class="select">PROFILE<br>プロフィール</p>
                                <% end %>
                            </li>
                            <li class="nav-item active mr-3">
                                <%= link_to works_path, class: "nav-link" do %>                    
                                    <p class="select">WORKS<br>作品</p>
                                <% end %>
                            </li>                                            
                        </ul>
                    </form>            
                    </div>
                </div>
            </nav>
        </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
        <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        </nav>    
    </div>
</div>